#### Practicing and trying out DecisionTree on the Titanic dataset

In [167]:
import pandas as pd

In [168]:
from sklearn import datasets
data = datasets.fetch_openml(name='titanic', version=1, as_frame=True)

/home/athena/Downloads/MLP/MLP_Code/venv/lib/python3.10/site-packages/sklearn/datasets/_openml.py:1022: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [169]:
print(data.DESCR)

**Author**: Frank E. Harrell Jr., Thomas Cason
**Source**: [Vanderbilt Biostatistics](http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.html)
**Please cite**:

The original Titanic dataset, describing the survival status of individual passengers on the Titanic. The titanic data does not contain information from the crew, but it does contain actual ages of half of the passengers. The principal source for data about Titanic passengers is the Encyclopedia Titanica. The datasets used here were begun by a variety of researchers. One of the original sources is Eaton & Haas (1994) Titanic: Triumph and Tragedy, Patrick Stephens Ltd, which includes a passenger list created by many researchers and edited by Michael A. Findlay.

Thomas Cason of UVa has greatly updated and improved the titanic data frame using the Encyclopedia Titanica and created the dataset here. Some duplicate passengers have been dropped, many errors corrected, many missing ages filled in, and new variables created.

For more information about how this dataset was constructed:
http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3info.txt


### Attribute information

The variables on our extracted dataset are pclass, survived, name, age, embarked, home.dest, room, ticket, boat, and sex. pclass refers to passenger class (1st, 2nd, 3rd), and is a proxy for socio-economic class. Age is in years, and some infants had fractional values. The titanic2 data frame has no missing data and includes records for the crew, but age is dichotomized at adult vs. child. These data were obtained from Robert Dawson, Saint Mary's University, E-mail. The variables are pclass, age, sex, survived. These data frames are useful for demonstrating many of the functions in Hmisc as well as demonstrating binary logistic regression analysis using the Design library. For more details and references see Simonoff, Jeffrey S (1997): The "unusual episode" and a second statistics course. J Statistics Education, Vol. 5 No. 1.

Downloaded from openml.org.

In [170]:
data

{'data':       pclass                                             name     sex  \
 0        1.0                    Allen, Miss. Elisabeth Walton  female
 1        1.0                   Allison, Master. Hudson Trevor    male
 2        1.0                     Allison, Miss. Helen Loraine  female
 3        1.0             Allison, Mr. Hudson Joshua Creighton    male
 4        1.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
 ...      ...                                              ...     ...
 1304     3.0                             Zabour, Miss. Hileni  female
 1305     3.0                            Zabour, Miss. Thamine  female
 1306     3.0                        Zakarian, Mr. Mapriededer    male
 1307     3.0                              Zakarian, Mr. Ortin    male
 1308     3.0                               Zimmerman, Mr. Leo    male

           age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
 0     29.0000    0.0    0.0   24160  211.3375       B5        S    2    NaN
 1      0.9167    1.0    2.0  113781  151.5500  C22 C26        S   11    NaN
 2      2.0000    1.0    2.0  113781  151.5500  C22 C26        S  NaN    NaN
 3     30.0000    1.0    2.0  113781  151.5500  C22 C26        S  NaN  135.0
 4     25.0000    1.0    2.0  113781  151.5500  C22 C26        S  NaN    NaN
 ...       ...    ...    ...     ...       ...      ...      ...  ...    ...
 1304  14.5000    1.0    0.0    2665   14.4542      NaN        C  NaN  328.0
 1305      NaN    1.0    0.0    2665   14.4542      NaN        C  NaN    NaN
 1306  26.5000    0.0    0.0    2656    7.2250      NaN        C  NaN  304.0
 1307  27.0000    0.0    0.0    2670    7.2250      NaN        C  NaN    NaN
 1308  29.0000    0.0    0.0  315082    7.8750      NaN        S  NaN    NaN

                             home.dest
 0                        St Louis, MO
 1     Montreal, PQ / Chesterville, ON
 2     Montreal, PQ / Chesterville, ON
 3     Montreal, PQ / Chesterville, ON
 4     Montreal, PQ / Chesterville, ON
 ...                               ...
 1304                              NaN
 1305                              NaN
 1306                              NaN
 1307                              NaN
 1308                              NaN

 [1309 rows x 13 columns],
 'target': 0       1
 1       1
 2       0
 3       0
 4       0
        ..
 1304    0
 1305    0
 1306    0
 1307    0
 1308    0
 Name: survived, Length: 1309, dtype: category
 Categories (2, object): ['0', '1'],
 'frame':       pclass survived                                             name  \
 0        1.0        1                    Allen, Miss. Elisabeth Walton
 1        1.0        1                   Allison, Master. Hudson Trevor
 2        1.0        0                     Allison, Miss. Helen Loraine
 3        1.0        0             Allison, Mr. Hudson Joshua Creighton
 4        1.0        0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
 ...      ...      ...                                              ...
 1304     3.0        0                             Zabour, Miss. Hileni
 1305     3.0        0                            Zabour, Miss. Thamine
 1306     3.0        0                        Zakarian, Mr. Mapriededer
 1307     3.0        0                              Zakarian, Mr. Ortin
 1308     3.0        0                               Zimmerman, Mr. Leo

          sex      age  sibsp  parch  ticket      fare    cabin embarked boat  \
 0     female  29.0000    0.0    0.0   24160  211.3375       B5        S    2
 1       male   0.9167    1.0    2.0  113781  151.5500  C22 C26        S   11
 2     female   2.0000    1.0    2.0  113781  151.5500  C22 C26        S  NaN
 3       male  30.0000    1.0    2.0  113781  151.5500  C22 C26        S  NaN
 4     female  25.0000    1.0    2.0  113781  151.5500  C22 C26        S  NaN
 ...      ...      ...    ...    ...     ...       ...      ...      ...  ...
 1304  female  14.5000    1.0    0.0    2665   14.4542      NaN        C  NaN
 1305  female      NaN    1.0    0.0    2665   14.4542      NaN        C  NaN
 1306    male  26.5000    0.0    0.0    2656    7.2250      NaN        C  NaN
 1307    male  27.0000    0.0    0.0    2670    7.2250      NaN        C  NaN
 1308    male  29.0000    0.0    0.0  315082    7.8750      NaN        S  NaN

        body                        home.dest
 0       NaN                     St Louis, MO
 1       NaN  Montreal, PQ / Chesterville, ON
 2       NaN  Montreal, PQ / Chesterville, ON
 3     135.0  Montreal, PQ / Chesterville, ON
 4       NaN  Montreal, PQ / Chesterville, ON
 ...     ...                              ...
 1304  328.0                              NaN
 1305    NaN                              NaN
 1306  304.0                              NaN
 1307    NaN                              NaN
 1308    NaN                              NaN

 [1309 rows x 14 columns],
 'categories': None,
 'feature_names': ['pclass',
  'name',
  'sex',
  'age',
  'sibsp',
  'parch',
  'ticket',
  'fare',
  'cabin',
  'embarked',
  'boat',
  'body',
  'home.dest'],
 'target_names': ['survived'],
 'DESCR': '**Author**: Frank E. Harrell Jr., Thomas Cason  \n**Source**: [Vanderbilt Biostatistics](http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.html)  \n**Please cite**:   \n\nThe original Titanic dataset, describing the survival status of individual passengers on the Titanic. The titanic data does not contain information from the crew, but it does contain actual ages of half of the passengers. The principal source for data about Titanic passengers is the Encyclopedia Titanica. The datasets used here were begun by a variety of researchers. One of the original sources is Eaton & Haas (1994) Titanic: Triumph and Tragedy, Patrick Stephens Ltd, which includes a passenger list created by many researchers and edited by Michael A. Findlay.\n\nThomas Cason of UVa has greatly updated and improved the titanic data frame using the Encyclopedia Titanica and created the dataset here. Some duplicate passengers have been dropped, many errors corrected, many missing ages filled in, and new variables created. \n\nFor more information about how this dataset was constructed:\nhttp://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3info.txt\n\n\n### Attribute information  \n\nThe variables on our extracted dataset are pclass, survived, name, age, embarked, home.dest, room, ticket, boat, and sex. pclass refers to passenger class (1st, 2nd, 3rd), and is a proxy for socio-economic class. Age is in years, and some infants had fractional values. The titanic2 data frame has no missing data and includes records for the crew, but age is dichotomized at adult vs. child. These data were obtained from Robert Dawson, Saint Mary\'s University, E-mail. The variables are pclass, age, sex, survived. These data frames are useful for demonstrating many of the functions in Hmisc as well as demonstrating binary logistic regression analysis using the Design library. For more details and references see Simonoff, Jeffrey S (1997): The "unusual episode" and a second statistics course. J Statistics Education, Vol. 5 No. 1.\n\nDownloaded from openml.org.',
 'details': {'id': '40945',
  'name': 'Titanic',
  'version': '1',
  'description_version': '7',
  'format': 'ARFF',
  'upload_date': '2017-10-16T01:17:36',
  'licence': 'Public',
  'url': 'https://api.openml.org/data/v1/download/16826755/Titanic.arff',
  'parquet_url': 'https://openml1.win.tue.nl/datasets/0004/40945/dataset_40945.pq',
  'file_id': '16826755',
  'default_target_attribute': 'survived',
  'tag': ['Computational Universe', 'Manufacturing', 'text_data'],
  'visibility': 'public',
  'minio_url': 'https://openml1.win.tue.nl/datasets/0004/40945/dataset_40945.pq',
  'status': 'active',
  'processing_date': '2018-10-04 07:19:36',
  'md5_checksum': '60ac7205eee0ba5045c90b3bba95b1c4'},
 'url': 'https://www.openml.org/d/40945'}

In [171]:
X, y = datasets.fetch_openml(name='titanic', version=1, as_frame=True, return_X_y=True)

/home/athena/Downloads/MLP/MLP_Code/venv/lib/python3.10/site-packages/sklearn/datasets/_openml.py:1022: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [172]:
# features
X.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [173]:
# label - whether the person survived or not (0 or 1)
y.head()

0    1
1    1
2    0
3    0
4    0
Name: survived, dtype: category
Categories (2, object): ['0', '1']

Drop the not so useful features that are not very relevant for making the predictions: name, sibsp, parch. ticket, cabin, embarked, boat, body, home.dest

In [174]:
X.drop(columns=['name', 'sibsp', 'parch', 'ticket', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], axis=1, inplace=True)

In [175]:
X

      pclass     sex      age      fare
0        1.0  female  29.0000  211.3375
1        1.0    male   0.9167  151.5500
2        1.0  female   2.0000  151.5500
3        1.0    male  30.0000  151.5500
4        1.0  female  25.0000  151.5500
...      ...     ...      ...       ...
1304     3.0  female  14.5000   14.4542
1305     3.0  female      NaN   14.4542
1306     3.0    male  26.5000    7.2250
1307     3.0    male  27.0000    7.2250
1308     3.0    male  29.0000    7.8750

[1309 rows x 4 columns]

sex is a categorical variable that we need to take care of. we can transform it to 0-male, 1-female using the OrdinalEncoder

In [176]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['male', 'female']]).set_output(transform='pandas')
oe.fit_transform(X[['sex']])

      sex
0     1.0
1     0.0
2     1.0
3     0.0
4     1.0
...   ...
1304  1.0
1305  1.0
1306  0.0
1307  0.0
1308  0.0

[1309 rows x 1 columns]

In [177]:
X['sex'] = oe.fit_transform(X[['sex']])
X

      pclass  sex      age      fare
0        1.0  1.0  29.0000  211.3375
1        1.0  0.0   0.9167  151.5500
2        1.0  1.0   2.0000  151.5500
3        1.0  0.0  30.0000  151.5500
4        1.0  1.0  25.0000  151.5500
...      ...  ...      ...       ...
1304     3.0  1.0  14.5000   14.4542
1305     3.0  1.0      NaN   14.4542
1306     3.0  0.0  26.5000    7.2250
1307     3.0  0.0  27.0000    7.2250
1308     3.0  0.0  29.0000    7.8750

[1309 rows x 4 columns]

In [178]:
X.isna().sum()

pclass      0
sex         0
age       263
fare        1
dtype: int64

Looks like age and fare contains some `NaN` values, so we can try using imputation to say fill it with say the mean value

In [179]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy='mean').set_output(transform='pandas')
si.fit_transform(X[['age']])

            age
0     29.000000
1      0.916700
2      2.000000
3     30.000000
4     25.000000
...         ...
1304  14.500000
1305  29.881135
1306  26.500000
1307  27.000000
1308  29.000000

[1309 rows x 1 columns]

In [180]:
X['age'] = si.fit_transform(X[['age']])
X['fare'] = si.fit_transform(X[['fare']])

In [181]:
X

      pclass  sex        age      fare
0        1.0  1.0  29.000000  211.3375
1        1.0  0.0   0.916700  151.5500
2        1.0  1.0   2.000000  151.5500
3        1.0  0.0  30.000000  151.5500
4        1.0  1.0  25.000000  151.5500
...      ...  ...        ...       ...
1304     3.0  1.0  14.500000   14.4542
1305     3.0  1.0  29.881135   14.4542
1306     3.0  0.0  26.500000    7.2250
1307     3.0  0.0  27.000000    7.2250
1308     3.0  0.0  29.000000    7.8750

[1309 rows x 4 columns]

In [182]:
X.isna().sum()

pclass    0
sex       0
age       0
fare      0
dtype: int64

#### Performing the train test split

In [183]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [184]:
X_train.shape, y_train.shape

((1047, 4), (1047,))

#### Fitting the DecisionTree model

In [185]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

Model score on the test data

In [186]:
model.score(X_test, y_test)

0.7442748091603053

Model score on the train data

In [187]:
model.score(X_train, y_train)

0.9684813753581661

#### Fitting the SVM Model

In [204]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train, y_train)

SVC()

In [205]:
model.score(X_test, y_test)

0.6679389312977099

In [206]:
model.score(X_train, y_train)

0.6723973256924546